.company-place {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: $primary-color;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  &__info {
    text-transform: uppercase;
    font-size: 32px;
    color: #ffffff;
    text-align: center;

    @media (max-width: 1024px) {
      font-size: 28px;
    }

    @media (max-width: 768px) {
      font-size: 20px;
    }

    p {
      margin: 0;
      padding: 0;
    }
    span {
      font-weight: 700;
    }
  }
}