@mixin list_items_media {
  @media (max-width: 1024px) {
    flex-basis: 20%;
  }

  @media (max-width: 768px) {
    flex-basis: 25%;
  }

  @media (max-width: 560px) {
    flex-basis: 33.333%
  }

  @media (max-width: 560px) {
    flex-basis: 33.333%
  }

  @media (max-width: 500px) {
    flex-basis: 50%
  }
}

.partners {
  padding-top: 50px;

  &__title {
    font-size: 52px;
    font-weight: 700;
    color: $primary-color;
    text-transform: uppercase;
    margin: 0 0 40px;

    @media (max-width: 1024px) {
      font-size: 48px;
      margin-bottom: 30px;
    }

    @media (max-width: 768px) {
      font-size: 36px;
      margin-bottom: 30px;
    }

    @media (max-width: 560px) {
      font-size: 28px;
    }

    @media (max-width: 368px) {
      font-size: 24px;
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    &--main {
      padding-top: 20px;
      margin-bottom: 80px;
      justify-content: center;

      .partners__list-item {
        flex-basis: 16.666%;

        @include list_items_media;
      }
    }

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 5px 10px;
      flex-basis: 14.285%;
      height: 140px;
      width: 100%;

      @media (max-width: 1300px) {
        flex-basis: 16.666%;
      }

      @include list_items_media;

      &:hover {
        img {
          transform: scale(1.12);
        }
      }

      img {
        object-fit: contain;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        display: block;
        transition: all .2s linear;
      }
    }
  }

  &__tabs-item {
    opacity: 0;
    display: none;
    min-height: 420px;

    @media (max-width: 1500px) {
      padding: 0 80px;
    }

    @media (max-width: 480px) {
      padding: 0 30px;
    }

    &--active {
      display: block;
      animation: fadeOut 0.4s linear;
      animation-fill-mode: forwards;
    }
  }

  &__tabs-list {
    position: relative;
    margin-bottom: 20px;
  }

  &__tabs-control {
    .prev, .next {
      cursor: pointer;
      top: 200px;
      z-index: 1000;
      position: absolute;
      height: 60px;
      width: 60px;

      @media (max-width: 480px) {
        height: 40px;
        width: 40px;
      }

      img {
        max-width: 100%;
      }
    }

    .prev {
      img {
        transform: scale(-1);
      }

      left: -80px;

      @media (max-width: 1500px) {
        left: 0;
      }
    }

    .next {
      right: -80px;

      @media (max-width: 1500px) {
        right: 0;
      }
    }
  }

  &__tabs-header {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    @media (max-width: 480px) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__tabs-link {
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: $primary-color;

    max-width: 33%;
    width: 100%;

    @media (max-width: 1024px) {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 560px) {
      font-size: 18px;
    }

    @media (max-width: 480px) {
      margin-bottom: 20px;
      max-width: 100%;
    }

    &:not(:last-child) {
      &::before {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        height: 30px;
        width: 3px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        transition: width .2s linear;
      }

      @media (max-width: 480px) {
        &::before {
          height: 0;
        }
      }
    }

    span {
      display: inline-block;
      position: relative;
    }

    span::after {
      content: '';
      position: absolute;
      background-color: $primary-color;
      height: 3px;
      width: 0;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);

      transition: width .2s linear;
    }

    &--active {

      span::after {
        width: 100%;
      }
    }
  }

}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tabs {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px;

  border: 5px solid #B2B4B3;
  border-radius: 25px;
  padding: 50px 0;
}